# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
coverage/
build/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/key.properties

# Kotlin / Android Studio
android/.idea/
android/.kotlin/
*.iml
*.log



# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/flutter_assets/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

# Xcode junk
**/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
# IDEs
.vscode/
.idea/
*.swp
*.swo
# OS / tooling
.DS_Store
Thumbs.db
.sconsign.dblite
.tags*
.profile
Icon?
**/.vagrant/
**/.generated/
**/*sync/
ServiceDefinitions.json
# Exceptions
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
