# Miscellaneous
.DS_Store
*.iml
*.iws
*.ipr
.gitignore

# IntelliJ related
/out/
/classes/
/gen/
*.log

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Do NOT ignore pubspec.lock unless you are certain! 
# pubspec.lock tracks exact dependencies to ensure all developers use the same versions.
# You typically WANT this file in version control.
# I will keep the line commented out as it is usually required.
# **pubspec.lock** # Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android/Gradle Build Artifacts & Configuration
# ----------------------------------------------
# These are the critical lines to prevent the conflicts you saw.
/android/app/debug
/android/app/profile
/android/app/release

# Ignore Kotlin and Gradle caches/logs
/android/.kotlin/
**/android/.gradle/**

# Ignore machine-specific local properties
**/android/local.properties

# Ignore general build folders
**/android/build/**

# Also good practice to ignore general Kotlin/Gradle temp files at the root level (if any)
/.gradle/